.homecontent {
	position: relative;
	z-index: 2;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.container2 {
	width: 100%;
	height: 100%;
	position: relative;
}

.fillter_bg {
	background: radial-gradient(
		34.98% 34.98% at 50% 50%,
		#3103ff 0,
		rgba(6, 19, 45, 0) 100%
	);
	height: 1500px;
	opacity: 0.3;
	position: absolute;
	left: -650px;
	top: 0px;
	width: 1500px;
	z-index: 1;
	background-clip: content-box;
}

.fillter_bg2 {
	background: radial-gradient(
		34.98% 34.98% at 50% 50%,
		#2f00ff 0,
		rgba(6, 19, 45, 0) 100%
	);
	height: 1500px;
	opacity: 0.5;
	position: absolute;
	right: -698px;
	top: -1284px;
	width: 1500px;
	z-index: -1;
	background-clip: content-box;
}

@media (max-width: 576px) {
	.fillter_bg {
		background: radial-gradient(
			34.98% 34.98% at 50% 50%,
			#3103ff 0,
			rgba(6, 19, 45, 0) 100%
		);
		height: 700px;
		opacity: 0.3;
		position: absolute;
		left: -350px;
		top: -310px;
		width: 675px;
		z-index: 1;
		background-clip: content-box;
	}

	.fillter_bg2 {
		background: radial-gradient(
			34.98% 34.98% at 50% 50%,
			#2f00ff 0,
			rgba(6, 19, 45, 0) 100%
		);
		height: 637px;
		opacity: 0.5;
		position: absolute;
		right: -550px;
		top: -592px;
		width: 1001px;
		z-index: 0;
		background-clip: content-box;
	}
}
